<div class="row m-0 p-0">
    <div class="col-1"></div>
    <div class="col-2 xmargin">
        <a routerLink="#">
            <div class="floating-button text-center p-4 text-primary">
                <i class="far fa-user-shield"></i>
                <br>
                <br>
                <span>Admin Panel</span>
            </div>
        </a>
    </div>
    <div class="col-4 xmargin">
        <a routerLink="/double-entry-home/receipt-section">
            <div class="floating-button text-center p-4 text-primary">
                <i class="far fa-clipboard"></i>
                <br>
                <br>
                <span>Double Entry</span>
            </div>
        </a>
    </div>
</div>