<div>
    <div class="row" style="margin: 0">
        <div class="col-3 p-0" id="sticky-sidebar">
            <div class="bg-dark-gray">
                <div class="list-group">
                    <a routerLink="/double-entry-home/receipt-section" class="list-group-item list-group-item-action text-center h5">Receipt Section</a>
                    <a href="#" class="list-group-item list-group-item-action text-center h5">Link 1</a>
                    <a href="#" class="list-group-item list-group-item-action text-center h5">Link 1</a>
                    <a href="#" class="list-group-item list-group-item-action text-center h5">Link 1</a>
                </div>
            </div>
        </div>
        <div class="col order-1 p-5" id="main">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>